@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'NanumSquareNeo-Variable';
}

.text-gradient {
    background: linear-gradient(to right, #9028ff, #843ace);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-jaram {
    font-family: "iceJaram-Rg";
}

.font-gangwon {
    font-family: 'GangwonEdu_OTFBoldA';
}

.font-nanum {
    font-family: 'NanumSquareNeo-Variable';
}

@media (max-width:920px) {
    .right {
        right: 0;
    }
}